
tmp.*
notes-tex

### Latex ###
*.synctex.gz
*.aux
*.fls
*.out
*.toc
*.log
*.lof
*.lot
*.bbl
*.bcf
*.blg
*.xmpi
*.run.xml
*.fdb_latexmk
*.synctex*
*.nav
*.snm

### Vscode ###
.vscode/

### Vim ###
.vim/

